<div class="sidebar-item contact-form">
    <div class="sidebar-heading">
        <h2>Edit Blog Post</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12 col-sm-12 mb-3 pb-3">
                <img id="image-preview" class="img-fluid img-responsive" style="display: none;" />
            </div>
            <div class="col-md-12 col-sm-12">
                <fieldset>
                    <input name="temp-image" type="file" id="temp-image" placeholder="Change Picture" required="" onchange="loadImage(this)">
                </fieldset>
            </div>
            <div class="col-md-12 col-sm-12">
                <fieldset>
                    <input name="title" type="text" id="title" placeholder="Blog title" required="">
                </fieldset>
            </div>
            <div class="col-lg-12">
                <fieldset>
                    <textarea name="image" rows="6" id="image" placeholder="Content" required="" style="display: none;"></textarea>
                    <textarea name="content" rows="6" id="content" placeholder="Content" required=""></textarea>
                </fieldset>
            </div>
            <div class="col-lg-12">
                <fieldset>
                    <button type="submit" id="form-submit" class="main-button" onclick="updateBlogPost()">Create Post</button>
                </fieldset>
            </div>
        </div>
    </div>
</div>