<div class="col-lg-12">
    <div class="blog-post">
        <div class="blog-thumb">
            <img id="blog-img" src="" alt="">
        </div>
        <div class="down-content">
            <!-- <span>Lifestyle</span> -->
            <a href="#">
                <h4 id="blog-title"></h4>
            </a>
            <ul class="post-info">
                <li>
                    <a href="#" id="blog-author"></a>
                </li>
                <li>
                    <a href="#" id="blog-date"></a>
                </li>
                <li><a href="#" id="blog-likes"> Like</a></li>
            </ul>
            <p id="blog-content"></p>
        </div>
    </div>
</div>